<!DOCTYPE html>
<html>
  <head>
    <title>HarryPotter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="flags-bg">
      <article class="bg-flag bg-1">
      </article>
      <article class="bg-flag bg-2">
      </article>
      <article class="bg-flag bg-3">
      </article>
      <article class="bg-flag bg-4">
      </article>
    </section>
    <%= yield %>
  </body>
</html>
