<!DOCTYPE html>
<html>
  <head>
    <title>HarryPotter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <img src="https://wallpaperaccess.com/full/22924.jpg" class="bg-img"/>
    <%= yield %>
  </body>
</html>
